@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@plugin "@tailwindcss/typography";

@layer base {
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 5px;
    padding-left: 5px;
  }
  
  * {
    -webkit-tap-highlight-color: transparent;
  }
  
  a, button {
    touch-action: manipulation;
    -webkit-touch-callout: none;
  }
}
html {
  @apply bg-white;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
html.dark {
  @apply bg-slate-900;
}

.sektion {
  @apply max-w-6xl mx-auto px-4 mb-8;
}

section {
  @apply sektion;
}

.mybg {
  @apply bg-gradient-to-br from-blue-50 via-indigo-50 to-purple-50
}
.ptitle {
  @apply text-4xl mb-6 font-semibold text-gray-800 text-center;
}

li::marker {
  @apply text-pink-500;
}
